/* Variables */

$gold: #705B3C;
$brown: #f1e4d2;
$green: #86B94B;
$violet: #85509D;
$greenLight: #1CA985;
$blueDark: #3B52AC;
$blue: #2E4AB3;
$orange: #F1B630;

$arial: Arial,Helvetica Neue,Helvetica,sans-serif;


/* Colors */
.color-gold  { color: $gold; }
.color-white { color: $white; }

.background-gradient-yellow {
    background-image: radial-gradient(55% 86%, #FFFFFF 33%, #FFE081 99%);
}

.background-gradient-green {
    background-image: linear-gradient(-180deg, #92DA80 0%, #59B449 100%);
}

.background-gradient-violet {
    background-image: linear-gradient(-180deg, #BB88CC 0%, #85509D 100%);
}

.background-gradient-greenLight {
    background-color: $greenLight;
}

.background-gradient-blueDark {
    background-color: $blueDark;
}

.background-gradient-blue {
    background-image: linear-gradient(0deg, #3B52AC 9%, #5EC7AD 100%);
}

.background-green {
    background-color: $primary-color;
}

.background-violet {
    background-color: $secondary-color;
}

.background-blue {
    background-color: $blue;
}

.background-color-1  { background-color: #E35095; }
.background-color-2  { background-color: #E24A4A; }
.background-color-3  { background-color: #F5A623; }
.background-color-4  { background-color: #CABE26; }
.background-color-5  { background-color: #93C136; }
.background-color-6  { background-color: #20C94A; }
.background-color-7  { background-color: #3FC4C0; }
.background-color-8  { background-color: #38A3D4; }
.background-color-9  { background-color: #356BD0; }
.background-color-10 { background-color: #2839DD; }
.background-color-11 { background-color: #5C33D9; }
.background-color-12 { background-color: #A639D4; }

/* Buttons */
.button.green {
    @include button-style($green, darken($green, 20%), $white);
    padding-left: rem-calc(48);
    padding-right: rem-calc(48);
    //border-radius: rem-calc(6);
}

.button.violet {
    @include button-style($violet, lighten($violet, 20%), $white);
    padding-left: rem-calc(48);
    padding-right: rem-calc(48);
    //border-radius: rem-calc(6);
}

.button.orange {
    @include button-style($orange, lighten($orange, 20%), $white);
    padding-left: rem-calc(48);
    padding-right: rem-calc(48);
    //border-radius: rem-calc(6);
}

/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header */
.title-bar {
    margin-top: 20px;
}

.menu-icon {
    margin-top: 22px;
}

body.page .header-container {
    margin-bottom: 45px;
    border-bottom: 5px solid $primary-color;
}

.header {
    margin-top: rem-calc(18);
}

body.page .header {
    margin-bottom: rem-calc(35);
}

.dropdown {
    z-index: 100;
}

.dropdown.menu {
    margin-top: rem-calc(18);
    margin-left: rem-calc(30);

    font-size: rem-calc(18);
}

.dropdown.menu > li > a {
    color: $secondary-color;
}

.dropdown.menu > li:hover > a,
.dropdown.menu > li:active > a {
    color: $primary-color;
}

.dropdown.menu li.has-submenu:hover,
.dropdown.menu li.has-submenu:active {
    background-color: $primary-color;


    & > a {
        color: $white;
    }
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: $secondary-color transparent transparent;
}

.dropdown.menu>li.is-dropdown-submenu-parent:hover>a::after {
    border-color: $primary-color transparent transparent;
}

.is-dropdown-submenu {
    background-color: $primary-color;
    border: none;

}

.is-dropdown-submenu li {
    min-width: rem-calc(250);
}

.menu .is-dropdown-submenu-item a {
    color: $white;
    line-height: 1.25;
}

.is-dropdown-submenu-item:hover a,
.is-dropdown-submenu-item:active a {
    background-color: $secondary-color;
    color: $white;
}

.logo {
    margin-left: rem-calc(5);
    max-width: 200px;
}

.logo-container {
    position: relative;
    overflow: visible;
    padding: 0;
}

.logo-anchor {
    overflow: visible;
}

// .logo-anchor::after {
//     position: absolute;
//     top: rem-calc(31);
//     right: rem-calc(-25);

//     content:"";
//     width: rem-calc(1);
//     height: rem-calc(49);
//     border-right: rem-calc(1) solid #705B3C;
// }

.title-bar {
    background-color: transparent;
}

/* Footer */
.footer-wrapper {
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(40);

    //background-color: $brown;
    font-family: $arial;
}

.footer-header {
    margin-bottom: rem-calc(10);
    font-size: rem-calc(12);
    text-transform: uppercase;
}

.footer-license {
    padding: 50px 0 20px;
    background-color: #FAFAFA;
    font-size: rem-calc(12);
}

.logo-global {
    margin-top: rem-calc(8);
    width: rem-calc(157);
}

.logo-oew {
    max-width: rem-calc(146);
}

.footer-logo {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.footer-logo img {
    height: 80px;
}

.footer-navigation {
    padding-bottom: 30px;
    font-size: 14px;
    font-family: $arial;
    color: $body-font-color;
}

.footer-navigation a {
    font-size: 14px;
    font-family: $arial;
    color: $body-font-color;

    &:hover,
    &:focus {
        color: $primary-color;
    }
}

.footer-navigation__divider {
    padding: 0 10px;
}

/* Home */

.hero {
    position: relative;
    background-color: black;
}

.hero .background {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    opacity: 0.4;
    pointer-events: none;
}

.home-topic {
    position: relative;
    z-index: 10;
    color: $white;
    padding-top: 50px;

    @include breakpoint(small only) {
        margin-top: rem-calc(20);
        padding-bottom: 50px;
    }

    @include breakpoint(medium) {
        margin-top: rem-calc(20);
        padding-top: 150px;
    }
}

.archive .home-topic,
.single-article .home-topic {
    margin-bottom: 60px;
}

.home h1 {
    margin-bottom: rem-calc(39);

    font-size: rem-calc(40);
    font-weight: bold;
    text-align: center;
}

.home h2 {
    font-size: rem-calc(23);
    text-align: center;
}

.home-topic-text {
    margin-bottom: rem-calc(32);

    font-size: rem-calc(18);
    font-family: $arial;
}

.home-hero-text {
    height: 500px;

    @include breakpoint(medium) {
        height: 380px;
    }

    a {
        color: $primary-color;
    }
}

.box-colored {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(40);
    color: $white;
}

.box-colored h2 {
    font-size: rem-calc(24);
    font-weight: 600;
}

.box-colored p {
    padding: rem-calc(20) rem-calc(30);
    text-align: center;
}

.home-video-content {
    padding-top: rem-calc(36);
    padding-bottom: rem-calc(50);
}

.home-cards {
    padding: rem-calc(95) 0 rem-calc(65);
}

.home-card {
    display: table;
    width: 100%;
    margin-bottom: rem-calc(30);

    border-radius: rem-calc(5);
    min-height: rem-calc(248);

    background-size: cover;

    @include breakpoint(small only) {
        margin-bottom: rem-calc(30);
        width: 100%;
    }
}

.home-card a {
    display: table-cell;
    padding: 0 rem-calc(10);

    vertical-align: middle;
    text-align: center;

    color: $white;
    font-size: rem-calc(24);
    font-weight: 600;

    &:hover,
    &:active {
        color: lighten($primary-color, 40%);
    }
    text-shadow: 0px 1px $black;
}

.home-social {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(80);
}

.home-social h2 {
    display: block;
    font-size: rem-calc(24);
    //font-weight: 600;
    text-align: left;
}

/* Text */
.breadcrumbs .slash {
    margin: auto 5px;
}

.breadcrumbs {
    margin-bottom: 20px;
}

h1 {
    //color: $gold;
    font-size: rem-calc(28);
    font-weight: 600;
}
.wp-caption-text {
    font-size: .8em;
    font-style: italic
}
/* Post Content */
.post-content {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(60);
    //padding: 40px 40px 24px 40px;
    //background-color: $white;

    font-family: $arial;

}

.post-content h1 {
    font-size: rem-calc(20);
    color: inherit;
}

.post-content h2 {
    font-size: rem-calc(20);
    color: inherit;
    weight: normal;
}

.partner__single {
    margin-bottom: rem-calc(20);
}

.partner__single img {
    padding: rem-calc(15);
}

.home-social-partners {
    margin-top: rem-calc(30);
}

.home-social-partners h2 {
    margin-bottom: 0;
    padding-top: 30px;
    text-align: left;
}

.orbit-slide {
    margin: 0 auto;


    padding: rem-calc(30) 10%;

    @include breakpoint(medium) {
        height: rem-calc(190);
    }
}

.orbit-slide > .row {
    // display: flex;
    align-items: center;
    align-self: center;
}

.orbit-container {
    text-align: center;

    background-color: $white;
    border-radius: rem-calc(5);
}

.orbit-previous, .orbit-next {
    color: $black;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
        white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Articles */

.article-excerpt {
    margin-bottom: 30px;
}

.article-full {
    margin-bottom: 90px;
}

.article-full h3 {
    margin-bottom: 30px;
    color: $black;
    font-size: 30px;
}

.article-divider {
    margin: 40px auto;
    border-bottom: 1px solid #CDCDCD;
}

.article-meta {
    text-align: center;
    font-size: 14px;
}

.article-meta img {
    margin-bottom: 20px;
}

.article-meta .bio {
    color: #8a8a8a;
}

.person-image {
    border-radius: 200px;
    width: 130px;
    height: 130px;
}

.home-bottom {
    margin-bottom: 15px;
}

.share {
    padding: 60px 0 100px;
    background-color: $secondary-color;
}

.share h2 {
    color: $white;
    font-size: 24px;
    font-family: $body-font-family;
}

.share h4 {
    padding-bottom: 40px;
    color: $white;
    font-size: 16px;
    font-family: $body-font-family;
}

.share .social-icon {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.home-lastyear {
    padding-top: 78px;
}

.home-lastyear-boxes {
    padding-top: 78px;
}

.home-lastyear-boxes a {
    padding: 20px 10px;
    min-height: 135px;
    color: $white;
    position: relative;

    &:hover,
    &:focus {
        //color: $light-gray;

        &::after {
            content: " ";
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, .2);
        }
    }
}

.attribution a {
    color: $white;
}
